.container {
  position: relative;
}

.img-container {
  height: 150px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.imgPlaceholder {
  composes: img;
  background: #eee;
}

.name {
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.price {
  font-size: 18px;
  color: #f40;
  margin: 0;
  margin-top: 5px;
}

.sales {
  position: absolute;
  left: -10px;
  top: -10px;
  background: red;
  color: yellow;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  width: 50px;
}
