.container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container-open {
  composes: container;
  height: 100%;

  .menu {
    display: block;
  }
}

.menu {
  width: 100%;
  margin: 0;
  background: white;
  display: none;
  list-style: none;
  padding: 0;
}

.menu-item {
  vertical-align: middle;
  text-decoration: none;
  display: block;
  line-height: 40px;
  padding: 0 13px;
  color: rgba(0,0,0,.95);
  font-size: 14px;

  &:hover {
    background: rgba(0,0,0,.05);
  }
}

.menu-item-active {
  background: rgba(0,0,0,.05);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  background: white;

  &:after {
    content: ''
  }
}

.headerTitle {
  font-size: 18px;
}

.headerIcon {
  font-size: 22px;
}

.headerSearch {
  display: none;
}

.headerSearchIcon {
}
