.content {
  margin-top: 50px;
}

body {
  overflow: inherit !important;
  overflow-x: inherit !important;
  overflow-y: inherit !important;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
